#naruaito{
    background-color:rgb(234, 234, 18);
}
h1{text-align: center;}
#matui{text-align: center;

}
footer{
  
   background-color: #cecece;

   text-align: center;

   border: solid 1px Gray;

   font-size:8pt;

   font-family: Verdana;

   font-weight:bold;

   width:100%;

   color:Black;

   

   bottom:0px;

   left:0px;

       }





